<div id="container">
    <header class="clearfix" id="profile">
        <div id="cashier">
            <span>Cashier: </span>
            <a href="#">Pesho</a>
        </div>
        <nav id="nav">
            <ul>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#archive">Archive</a>
                </li>
                <li>
                    <a href="#" class="logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>

    {{view}}
</div>