{{#if user}}
<div id="cashier">
    <span>Cashier: </span>
    <a href="#">{{user}}</a>
</div>
<nav id="nav">
    <ul>
        <li>
            <a href="#">Editor</a>
        </li>
        <li>
            <a href="#overview">Overview</a>
        </li>
        <li>
            <a href="#logout" class="logout">Logout</a>
        </li>
    </ul>
</nav>
{{else}}
<nav id="nav">
    <ul>
        <li>
            <a href="#logIn">Sign in / Register</a>
        </li>
    </ul>
</nav>
{{/if}}